:root {
    --brand-color: #d72638;
    --brand-color-rgb: 215, 38, 56;

    --size: 10rem;
    --duration: 20s;

    --debug: 1px solid;

    --debug: none;
}

.light-theme {
    --brand-color: #d72638;
    --bg-color: #d1d2d2;
    --bg-color-rgb: 209, 210, 210;
    --text-color: #1d1e22;
    --text-color-rgb: 29, 30, 34;
}

.dark-theme {
    --brand-color: #d72638;
    --bg-color: #1d1e22;
    --bg-color-rgb: 29, 30, 34;
    --text-color: #e8e8e8;
    --text-color-rgb: 209, 210, 210;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #d72638;
        --bg-color-rgb: 29, 30, 34;
        --text-color: #e8e8e8;
        --text-color-rgb: 232, 232, 232;
        --border-color: #d72638;
    }
}

.lhs {
    --main-align: flex-start;
    --text-align: left;
    --dir: ltr;
}

.rhs {
    --main-align: flex-end;
    --text-align: right;
    --dir: rtl;
}

body,
html {
    font-size: 16px;
    min-width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: #1d1e22;
}

body.zoom-active,
body.zoom-active {
    font-size: 2rem;
}

.app {
    width: 100vw;
    min-width: 400px;
    height: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
    display: grid;
    grid: 'header' auto 'nav' auto 'main' 1fr 'footer' auto / auto;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    border: var(--debug) lightblue;
}

main {
    grid-area: main;
    border: var(--debug) green;
    height: fit-content;
    display: flex;
    gap: 2rem;
    flex-flow: column wrap;
    place-items: center;
    place-content: center;
    overflow-x: hidden;
}

footer {
    width: 100%;
    grid-area: footer;
    border: var(--debug) red;
    display: flex;
    justify-content: center;
}

header,
nav,
main,
footer {
    max-width: 100vw;
}

svg[role='img'] {
    height: 2rem;
    animation: fade-in 0.5s ease-in;
}

svg[role='img'] path {
    transition: 0.3s;
    fill: rgba(var(--text-color-rgb), 5);
}

button {
    cursor: pointer;
    border: rgba(var(--text-color-rgb), 0);
}

button:focus {
    outline: var(--debug) var(--text-color);
    transition: outline 0.3s ease-in-out;
}

button:hover {
    outline: var(--debug) var(--text-color);
    transition: outline 0.3s ease-in-out;
}

button.circle {
    --base-button-size: 2rem;
    --clamp: clamp(var(--base-button-size),
            var(--base-button-size),
            var(--base-button-size));

    border-radius: 50%;
    width: var(--clamp);
    height: var(--clamp);
    aspect-ratio: 1/1;
}

@keyframes fade-in {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.blink {
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@media (width <=400px) {
    .socials {
        flex-direction: column;
    }

    .app {
        min-height: 1800px;
    }
}

/* FONTS */
html,
nav,
footer,
header,
.sigmar-regular {
    font-family: 'Sigmar', serif;
    font-weight: 400;
    font-style: normal;
}

.atkinson-hyperlegible-next-regular {
    font-family: 'Atkinson Hyperlegible Next', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.doto-round {
    font-family: 'Doto', serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: 'ROND' 10;
}

.noto-color-emoji-regular {
    font-family: 'Noto Color Emoji', serif;
    font-weight: 400;
    font-style: normal;
}

.shojumaru-regular {
    font-family: 'Shojumaru', serif;
    font-weight: 400;
    font-style: normal;
}